<mat-drawer-container class="example-container" autosize>

  <!-- Sidenav -->

  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button  mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <!-- Content-Wrapper -->

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
  </div>

  <!-- toolbar -->

    <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cursos Disponibles</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

</mat-drawer-container>

