<!-- java -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Java</mat-card-title>
    <mat-card-subtitle>Lenguaje de programacion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo Java">
  <mat-card-content>
    <p>
        Java es un lenguaje de programación y
        una plataforma informática que fue comercializada por
        primera vez en 1995 por Sun Microsystems
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!-- JavaScrip -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>JavaScrip</mat-card-title>
    <mat-card-subtitle>Lenguaje de programacion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo JavaScript">
  <mat-card-content>
    <p>
      JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript.
      Se define como orientado a objetos,basado en prototipos, imperativo,
      débilmente tipado y dinámico

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!-- PhotoShop -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>PhotoShop
      <!-- <mat-icon>code_blocks</mat-icon> -->
    </mat-card-title>
    <mat-card-subtitle>Curso de Diseño e Imagen</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo PhotoShop">
  <mat-card-content>
    <p>
        Adobe Photoshop es un editor de fotografías desarrollado por Adobe Systems Incorporated.
        Usado principalmente para el retoque de fotografías y gráficos,
        su nombre en español significa "tienda de fotos".Es conocido mundialmente.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!-- Phyton -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Python
      <!-- <mat-icon>code_blocks</mat-icon> -->
    </mat-card-title>
    <mat-card-subtitle>Lenguaje de programacion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo Python">
  <mat-card-content>
    <p>
        Es un lenguaje de programación ampliamente utilizado en las aplicaciones web,
        el desarrollo de software, la ciencia de datos y el machine learning (ML)
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!-- Swift -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Swift
      <!-- <mat-icon>code_blocks</mat-icon> -->
    </mat-card-title>
    <mat-card-subtitle>Lenguaje de programacion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo Swift">
  <mat-card-content>
    <p>
        Swift es un lenguaje de programación multiparadigma creado por Apple enfocado en el
        desarrollo de aplicaciones para iOS y macOS. Fue presentado en la WWDC 2014 y
        está diseñado para integrarse con los Frameworks Cocoa y Cocoa Touch;
        puede usar cualquier biblioteca programada en Objective-C y llamar a funciones de C
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!-- Windows -->

<div class="grid">
    <div class="col-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Windows
      <!-- <mat-icon>code_blocks</mat-icon> -->
    </mat-card-title>
    <mat-card-subtitle>Sistema Operativo</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]=""
  alt="Logo Windows">
  <mat-card-content>
    <p>
        El sistema operativo mas usado en el mundo.Familia de distribuciones de software para PC,
        servidores, sistemas empotrados y antiguamente teléfonos inteligentes desarrollados
        y vendidos por Microsoft y disponibles para múltiples arquitecturas,como x86, x86-64 y ARM
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>FAVORITO</button>
    <button mat-button>INSCRIPCION</button>
  </mat-card-actions>
</mat-card>

  </div>
</div>
