<app-root>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="logo curso"></div>
    <mat-card-title>Java</mat-card-title>
    <mat-card-subtitle>Lenguaje de Programacion</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/img/LogoJava.png"
  alt="Logo Java">
  <mat-card-content>
    <p>
      Java lenguaje orientado a los objetos, muy popular etc..
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>UNIRSE</button>
  </mat-card-actions>
</mat-card>


</app-root>
