

html, body { height: 100%; }
body { margin: 0; font-family: 'CustomFont';
  src: url('./assets/fonts/custom-font.ttf'); }

// TIPOGRAFIA A USAR EN EL PROYECTO: ROBOTO

// @font-face {
//   font-family: 'CustomFont';
//   src: url('./assets/fonts/custom-font.ttf');
// }
