<!-- sidebar -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Opciones</p>
    <p *ngIf="showFiller">Menu del Instituto</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
      <!-- toolbar -->

      <mat-toolbar color="primary">
    <button (click)="drawer.toggle()"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cursos</span>
    <span class="example-spacer"></span>
    </mat-toolbar>


    <main class="p-3">
      <app-home></app-home>
    </main>

  </div>

</mat-drawer-container>
